---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/weather/realtime?apikey=109876&location=55+Main+St%2C+Quincy%2C+MA+02169&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-correlation-id:
      - a68ba177-0f32-4526-9275-3e16a1b25666
      x-db-credits-cost:
      - '6'
    body:
      encoding: UTF-8
      string: '{"data":{"time":"2024-05-26T21:24:00Z","values":{"cloudBase":null,"cloudCeiling":null,"cloudCover":3,"dewPoint":64.18,"freezingRainIntensity":0,"humidity":73,"precipitationProbability":0,"pressureSurfaceLevel":29.83,"rainIntensity":0,"sleetIntensity":0,"snowIntensity":0,"temperature":73.63,"temperatureApparent":73.63,"uvHealthConcern":0,"uvIndex":1,"visibility":9.94,"weatherCode":1000,"windDirection":94.31,"windGust":9.23,"windSpeed":7.41}},"location":{"lat":42.24699401855469,"lon":-70.99268341064453,"name":"55,
        Main Street, Quincy Center, Quincy Point, Quincy, Norfolk County, Massachusetts,
        02169, United States","type":"house"}}'
  recorded_at: Sun, 26 May 2024 21:24:13 GMT
recorded_with: VCR 6.2.0
