---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/weather/realtime?apikey=109876&location=London&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-correlation-id:
      - 38a6fee1-64d0-4335-9b00-ee754cc73a05
      x-db-credits-cost:
      - '5'
    body:
      encoding: UTF-8
      string: '{"data":{"time":"2024-05-26T21:25:00Z","values":{"cloudBase":null,"cloudCeiling":null,"cloudCover":4,"dewPoint":49.33,"freezingRainIntensity":0,"humidity":80,"precipitationProbability":75,"pressureSurfaceLevel":29.86,"rainIntensity":0.01,"sleetIntensity":0,"snowIntensity":0,"temperature":55.18,"temperatureApparent":55.18,"uvHealthConcern":0,"uvIndex":0,"visibility":9.94,"weatherCode":4000,"windDirection":221.31,"windGust":14.82,"windSpeed":8.67}},"location":{"lat":51.5074462890625,"lon":-0.12776529788970947,"name":"London,
        Greater London, England, United Kingdom","type":"city"}}'
  recorded_at: Sun, 26 May 2024 21:25:37 GMT
recorded_with: VCR 6.2.0
