---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=54321&q=London
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cdn-pullzone:
      - '93447'
      cdn-uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      cdn-requestcountrycode:
      - US
      x-weatherapi-qpm-left:
      - '4999925'
      cdn-proxyver:
      - '1.04'
      cdn-requestpullsuccess:
      - 'True'
      cdn-requestpullcode:
      - '200'
      cdn-cachedat:
      - 05/26/2024 21:28:20
      cdn-edgestorageid:
      - '941'
      cdn-status:
      - '200'
      cdn-requestid:
      - 97fb0fb12dae6ec44d813ca66bf6d800
      cdn-cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"London","region":"City of London, Greater London","country":"United
        Kingdom","lat":51.52,"lon":-0.11,"tz_id":"Europe/London","localtime_epoch":1716758873,"localtime":"2024-05-26
        22:27"},"current":{"last_updated_epoch":1716758100,"last_updated":"2024-05-26
        22:15","temp_c":14.0,"temp_f":57.2,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":230,"wind_dir":"SW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"humidity":77,"cloud":75,"feelslike_c":13.0,"feelslike_f":55.4,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":13.1,"gust_kph":21.1}}'
  recorded_at: Sun, 26 May 2024 21:28:20 GMT
recorded_with: VCR 6.2.0
